body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", arial, sans-serif;
  color: #3d3d3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

button {
  border: 0;
}
